
div.SpaceX { text-align: center; background-color: black; height: 200%;}
#ss {background-color: black; margin-top: -2%;}
div.imgg {text-align: center; margin-top: 5%;}
.fheavybg {margin-top: -20%;}
body {background-repeat: no-repeat; margin: 0px;}
.social {text-align: center; margin-top: 2%; color: white; font-size: 20px; font-family: 'Source Sans Pro', sans-serif;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 16px; text-align: center; position: absolute;margin-top: 40%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 16px; text-align: center; position: absolute;margin-top: 9%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
.hoverfh:hover {background-color: white; transition: 1s;}  
.hover:hover {background-color: white; transition: 1s;}
.link {color: white;}
.link:hover {color: black; transition: 1s;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 16px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.hover2:hover {background-color: black; transition: 1s;}
.link2 {color: black;}
.link2:hover {color: white; transition: 1s;}
#falcon9 {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; font-size: 45px; overflow: hidden; position: absolute; margin-left: 42%;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin-left: 17%; font-size: 25px; margin-top: 20%; position: absolute; max-width: 75%;}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 25px; padding-top: 7%;}
.logos {text-align: center; margin-top: -5%;}
#nasalogo {margin-top: 5%; height: 90px; padding: 7%; margin-top: -5%;}
#spacexlogo {height: 25px; padding: 10%; margin-top: -5%;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 25px; margin-top: 12.5%}
.spximg img {width: 600px; margin-left: 10%;}
#ssh {color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; padding-top: 4%}
#fhh {color: black; text-align: center; padding-top: 6%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
#spxd {color: white; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-left: 0%; text-align: center; font-size: 16px; margin-top: 4%;}
#f9 {background-image: url(https://wallpaperaccess.com/full/2026002.jpg); background-size: 100%; height: 1000px; background-repeat: no-repeat}
.sn8img {background-image: url(https://www.hwupgrade.it/i/n/spacex-starship-sn8-hop1_720.jpg); background-size: 100%; background-repeat: no-repeat; height: 900px; margin-top: 0%}
#vls {color: white; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-bottom: 2%;}
#shr {margin-top: -10%;}

/*VISUALIZZAZIONE 1490px*/
@media (max-width:1490px) {

#ss {background-color: black; margin-top: -2%;}
.fheavybg {margin-top: -14.7%;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; text-align: center; font-size: 22px; margin: 25%; position: absolute; max-width: 75%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 19px; text-align: center; position: absolute;margin-top: 47.5%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#nasalogo {margin-top: 5%; height: 390px; padding: 7%; margin-top: -10%; width: 400px;}
#spacexlogo {height: 55px; padding: 10%; margin-top: -8%; margin-left: 4%;}
}

/*VISUALIZZAZIONE 1256px*/
@media (max-width: 1256px) {

#ss {background-color: black; margin-top: -12.5%;}
.fheavybg {margin-top: -26.5%;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 21.5%; font-size: 20px; margin-top: 25%; position: absolute; max-width: 75%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 19px; text-align: center; position: absolute;margin-top: 47.5%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#nasalogo {margin-top: 5%; height: 350px; padding: 7%; margin-top: -13%; width: 370px;}
#spacexlogo {height: 55px; padding: 10%; margin-top: -18%; margin-left: 4%;}
}


/*VISUALIZZAZIONE DA LAPTOP*/
@media (max-width: 1200px) {

.fheavybg {margin-top: -29%;}
#falcon9 {margin-left: 41%; margin-top: 13px;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 25%; font-size: 21px; margin-top: 25%; position: absolute; max-width: 75%;}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 18px; margin: 6%;}
#ss {background-color: black; margin-top: -15%;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 20px; text-align: center; position: absolute;margin-top: 7%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 20px; margin-top: 14%}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 15px;  text-align: center;  position: absolute; margin-top: 4.5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 20px; text-align: center; position: absolute;margin-top: 47.5%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#fhh {color: black; text-align: center; padding-top: 3%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}

}

/*1071px*/
@media (max-width: 1071px) {

.fheavybg {margin-top: -37.5%;}
#ss {background-color: black; margin-top: -24%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 20px; text-align: center; position: absolute;margin-top: 44%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 20px; text-align: center; position: absolute;margin-top: 4%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 14.5px; margin-top: 11%}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 25%; font-size: 17px; margin-top: 20%; position: absolute; max-width: 75%;}
#falcon9 {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; font-size: 30px; overflow: hidden; position: absolute; margin-left: 43%;}
#nasalogo {margin-top: 5%; height: 300px; padding: 7%; margin-top: -13%; width: 310px;}
#spacexlogo {height: 46px; padding: 10%; margin-top: -18%; margin-left: 4%;}

}


/*VISUALIZZAZIONE DA TABLET*/
@media (max-width: 980px) { 

.fheavybg {margin-top: -48%;}
#falcon9 {margin-left: 42%; margin-top: 10px; font-size: 32px;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 18px; position: absolute;}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 18px; padding-top: 7%;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 15px; text-align: center; position: absolute;margin-top: 2%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 13px; text-align: center; position: absolute;margin-top: 46%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#ss {background-color: black; margin-top: -32%;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; margin-top: 11%}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 15px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.logos {text-align: center; margin-top: -35%;}
#nasalogo {margin-top: 5%; height: 350px; padding: 7%; margin-top: -10%; width: 370px;}
#spacexlogo {height: 55px; padding: 10%; margin-top: -9%; margin-left: 4%;}

}

/*VISUALIZZAZIONE 893px*/
@media (max-width: 893px) {

#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 16px; position: absolute;}
.fheavybg {margin-top: -58%;}
#ss {background-color: black; margin-top: -40%;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 13px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 15px; text-align: center; position: absolute;margin-top: 6%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 15.5px; margin: 2%;}

}

/*VISUALIZZAZIONE 828px*/ 
@media (max-width: 828px) {

#fhh {color: black; font-size: 25px ; text-align: center; padding-top: 6%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 16px; margin-top: 20%; position: absolute; max-width: 75%;}
.fheavybg {margin-top: -67%;}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 13px; margin-top: 0%;}
#ssh {color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; padding-top: 4%; font-size: 30px;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 14px; margin-top: 8%}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 13px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 11px; text-align: center; position: absolute;margin-top: 42.5%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#ss {background-color: black; margin-top: -49%;}
#nasalogo {margin-top: 5%; height: 260px; padding: 7%; margin-top: -13%; width: 290px;}
#spacexlogo {height: 43px; padding: 10%; margin-top: -18%; margin-left: 4%;}
}

/*VISUALIZZAZIONE DA MOBILE ORIZZONTALE*/
@media (max-width: 767px) {

.spximg img {width: 400px; margin-left: 10%;}
#falcon9 {margin-left: 41%; margin-top: 10px; font-size: 30px;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 14px; margin-top: 20%; position: absolute; max-width: 75%;}
.fheavybg {margin-top: -79%;}
#ss {background-color: black; margin-top: -58%;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 12px;  text-align: center;  position: absolute; margin-top: 1%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 15px; margin-top: 9%}
#ssh {color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; padding-top: 4%; font-size: 24px;}
#fhh {color: black; text-align: center; padding-top: 3%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 24px;}
.sn8img {background-image: url(https://www.hwupgrade.it/i/n/spacex-starship-sn8-hop1_720.jpg); background-size: 100%; background-repeat: no-repeat; height: 700px; margin-top: 0%}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 13px; text-align: center; position: absolute;margin-top: 39.5%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 13px; margin-top: 8%}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 14px; padding-top: 3%;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 13px; text-align: center; position: absolute;margin-top: 4%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
#nasalogo {margin-top: 5%; height: 260px; padding: 7%; margin-top: -9%; width: 290px;}
#spacexlogo {height: 43px; padding: 10%; margin-top: -6%; margin-left: 4%;}

}


/*VISUALIZZAZIONE PER 720px*/
@media (max-width: 720px) {

.fheavybg {margin-top: -85.5%;}
#ss {background-color: black; margin-top: -66%;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 15px; text-align: center; position: absolute;margin-top: 3%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 10px; text-align: center; position: absolute;margin-top: 41%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 13.5px; margin-top: 20%; position: absolute; max-width: 75%;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 10px;  text-align: center;  position: absolute; margin-top: 4%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 11px; text-align: center; position: absolute;margin-top: 4%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 14px; margin-top: -5%;}


}

/*VISUALIZZAZIONE 668px*/
@media (max-width: 668px) {

.fheavybg {margin-top: -96.5%;}
#ss {background-color: black; margin-top: -74%;}
#spxd {color: white; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-left: 0%; text-align: center; font-size: 11px; margin-top: 4%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 10px; text-align: center; position: absolute;margin-top: 48%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}

}

/*VISUALIZZAZIONE 630px*/
@media (max-width: 630px) {

#falcon9 {margin-left: 41%; margin-top: 10px; font-size: 23px;}
.fheavybg {margin-top: -105%;}
#ss {background-color: black; margin-top: -83%;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 12px; margin-top: 7%}


}

/*VISUALIZZAZIONE 592px*/
@media (max-width: 592px) {

.fheavybg {margin-top: -115%;}
#ss {background-color: black; margin-top: -91.5%;}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 12.5px; margin-top: -5%;}
#falcon9 {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; font-size: 28px; overflow: hidden; position: absolute; margin-left: 39%;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 8px;  text-align: center;  position: absolute; margin-top: 4%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
#nasalogo {margin-top: 5%; height: 260px; padding: 7%; margin-top: -15%; width: 290px;}
#spacexlogo {height: 43px; padding: 10%; margin-top: -20%; margin-left: 4%;}
}

/*VISUALIZZAZIONE 563px*/
@media (max-width: 563px) {

.fheavybg {margin-top: -125%;}
#ss {background-color: black; margin-top: -99%;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 10px; margin-top: 7%}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 11.5px; margin-top: -5%;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 9px;  text-align: center;  position: absolute; margin-top: 4%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
#nasalogo {margin-top: 5%; height: 220px; padding: 7%; margin-top: -15%; width: 250px;}
#spacexlogo {height: 37px; padding: 10%; margin-top: -20%; margin-left: 4%;}

}

/*VISUALIZZAZIONE 538px*/
@media (max-width: 538px) {

.fheavybg {margin-top: -135%;}
#ss {background-color: black; margin-top: -109%;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 11.5px; margin-top: 20%; position: absolute; max-width: 75%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 8.5px; text-align: center; position: absolute;margin-top: 44%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 8.5px;  text-align: center;  position: absolute; margin-top: 4%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 8.5px; text-align: center; position: absolute;margin-top: 3.5%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
#nasalogo {margin-top: 5%; height: 220px; padding: 7%; margin-top: -15%; width: 250px;}
#spacexlogo {height: 37px; padding: 10%; margin-top: -40%; margin-left: 4%;}
}

/*VISUALIZZAZIONE 508px*/
@media (max-width:508px) {

.fheavybg {margin-top: -145%;}
#ss {background-color: black; margin-top: -119%;}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 10px; margin-top: -10%;}
#falcon9 {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; font-size: 22px; overflow: hidden; position: absolute; margin-left: 40%;}
#fhh {color: black; text-align: center; padding-top: 3%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 18px;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin-left: 12%; font-size: 11.5px; margin: 17%; position: absolute; max-width: 75%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 7px; text-align: center; position: absolute;margin-top: 43%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 10px; margin-top: 1%}
#ssh {color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; padding-top: 2%; font-size: 18.5px}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 7px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}


}

/*VISUALIZZAZIONE DA MOBILE VERTICALE*/
@media (max-width: 480px) {

.spximg img {width: 200px; margin-left: 5%;}
#spxd {color: white; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-left: 0%; text-align: center; font-size: 9px; margin-top: 4%;}
#falcon9 {margin-left: 41%; margin-top: 10px; font-size: 20px;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 10px; margin-top: 13%; position: absolute; max-width: 75%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 8px; text-align: center; position: absolute;margin-top: 44%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
.fheavybg {margin-top: -156%;}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 9px; margin-top: -8%;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 7.5px; text-align: center; position: absolute;margin-top: 2%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
#fhh {color: black; text-align: center; padding-top: 6%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 20px;}
#ss {background-color: black; margin-top: -129%;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 9px; margin-top: 5.5%}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 7.5px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.sn8img {background-image: url(https://www.hwupgrade.it/i/n/spacex-starship-sn8-hop1_720.jpg); background-size: 100%; background-repeat: no-repeat; height: 450px; margin-top: 0%}
#vls {color: white; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-bottom: 2%; font-size: 25px}
#nasalogo {margin-top: 5%; height: 220px; padding: 7%; margin-top: -15%; width: 250px;}
#spacexlogo {height: 37px; padding: 10%; margin-top: 4%; margin-left: 4%;}
}

/*VISUALIZZAZIONE 456px*/
@media (max-width: 456px) {

.fheavybg {margin-top: -166%;}
#ss {background-color: black; margin-top: -139%;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 7px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
#nasalogo {margin-top: 5%; height: 180px; padding: 7%; margin-top: -15%; width: 200px;}
#spacexlogo {height: 30px; padding: 10%; margin-top: -10%; margin-left: 4%;}
}

/*VISUALIZZAZIONE 436px*/
@media (max-width: 436px) {

.fheavybg {margin-top: -176%;}
#ss {background-color: black; margin-top: -148%;}
#falcon9 {margin-left: 42%; margin-top: 10px; font-size: 15px;}
#nasalogo {margin-top: 5%; height: 180px; padding: 7%; margin-top: -2%; width: 200px;}
#spacexlogo {height: 30px; padding: 10%; margin-top: -5%; margin-left: 4%;}

}

/*VISUALIZZAZIONE 418px*/
@media (max-width: 418px) {

.fheavybg {margin-top: -187%;}
#ss {background-color: black; margin-top: -158%;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 5.5px;  text-align: center;  position: absolute; margin-top: 4%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 9px; margin-top: 3.5%}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 6.5px; text-align: center; position: absolute;margin-top: 2%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 6.5px; text-align: center; position: absolute;margin-top: 44%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}

}

/*VISUALIZZAZIONE 400px*/
@media (max-width: 400px) {

.fheavybg {margin-top: -197%;}
#ss {background-color: black; margin-top: -168%;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 5px;  text-align: center;  position: absolute; margin-top: 4%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
#nasalogo {margin-top: 5%; height: 180px; padding: 7%; margin-top: -15%; width: 200px;}
#spacexlogo {height: 30px; padding: 10%; margin-top: -10%; margin-left: 4%;}

}


/*REDMI NOTE 7*/
@media (max-width: 397px) {

#falcon9 {margin-left: 41%; margin-top: 10px; font-size: 15px;}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 8px; margin-top: 20%; position: absolute; max-width: 75%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 6.5px; text-align: center; position: absolute;margin-top: 46%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
.fheavybg {margin-top: -198%;}
#fhh {color: black; text-align: center; padding-top: 6%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 15px;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 6.5px; text-align: center; position: absolute; margin-top: 2.5%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}
#ss {background-color: black; margin-top: -168.5%;}
#ssh {color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; padding-top: 4%; font-size: 20px;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 7.5px; margin-top: 8.5%}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 5.5px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.logos {text-align: center; margin-top: 0%;}
.sn8img {background-image: url(https://www.hwupgrade.it/i/n/spacex-starship-sn8-hop1_720.jpg); background-size: 100%; background-repeat: no-repeat; height: 220px; margin-top: 0%; size: 100%;}
#spacexlogo {height: 20px; margin-bottom: 35px ;}
#nasalogo {margin-top: 5%; height: 170px; width: 170px; margin-top: -10%;}
#spacexlogo {height: 40px; width: 180px; margin-top: 10%;}
.social {text-align: center; margin-bottom: -20%;}
#shr {margin-top: 3%;}
}

/*VISUALIZZAZIONE 382px*/
@media (max-width: 382px) {

.fheavybg {margin-top: -209%;}
#ss {background-color: black; margin-top: -177%;}
#ssh {color: black; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; padding-top: 4%; font-size: 16px;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 5px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
#nasalogo {margin-top: 5%; height: 180px; padding: 7%; margin-top: -18%; width: 200px;}
#spacexlogo {height: 40px; width: 190px; padding: 10%; margin-top: 5%; margin-left: 4%;}

}

/*VISUALIZZAZIONE 367px*/
@media (max-width: 367px) {

.fheavybg {margin-top: -219%;}
#ss {background-color: black; margin-top: -187%;}
#vls {color: white; text-align: center; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-bottom: 2%; font-size: 18px}
#falcon9p {color:black; font-family: 'Source Sans Pro', sans-serif; margin: 22%; font-size: 6px; position: absolute; max-width: 75%;}
#fheavyp {color: black; font-family:'Source Sans Pro', sans-serif; text-align: center; font-size: 7px; margin-top: -10%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 5.5px; text-align: center; position: absolute;margin-top: 44%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
#ssp {color: black; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 7.5px; margin-top: 4%}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 4.5px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}

}

/*VISUALIZZAZIONE 354px*/
@media (max-width: 354px) {

.fheavybg {margin-top: -229%;}
#ss {background-color: black; margin-top: -197%;}
#nasalogo {margin-top: 5%; height: 180px; padding: 7%; margin-top: -10%; width: 200px;}
#spacexlogo {height: 30px; width: 190px; padding: 10%; margin-top: 5%; margin-left: 4%;}

}

/*VISUALIZZAZIONE 342px*/
@media (max-width: 342px) {

.fheavybg {margin-top: -239%;}
#ss {background-color: black; margin-top: -206%;}
#nasalogo {margin-top: 5%; height: 180px; padding: 7%; margin-top: -10%; width: 200px;}
#spacexlogo {height: 30px; width: 190px; padding: 10%; margin-top: 5%; margin-left: 4%;}

}

/*VISUALIZZAZIONE 331px*/
@media (max-width: 331px) {

.fheavybg {margin-top: -249%;}
#ss {background-color: black; margin-top: -215%;}
#nasalogo {margin-top: 5%; height: 140px; padding: 7%; margin-top: -10%; width: 150px;}
#spacexlogo {height: 30px; width: 190px; padding: 10%; margin-top: 5%; margin-left: 4%;}

}

/*VISUALIZZAZIONE 320px*/
@media (max-width: 320px) {

.fheavybg {margin-top: -259%;}
#ss {background-color: black; margin-top: -224%;}
#falcon9 {margin-left: 40%; margin-top: 8px; font-size: 14px;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 5.5px; text-align: center; position: absolute;margin-top: 47%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}

}

/*VISUALIZZAZIONE 311px*/
@media (max-width: 311px) {

.fheavybg {margin-top: -269%;}
#ss {background-color: black; margin-top: -234%;}
.hover {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 5px; text-align: center; position: absolute;margin-top: 47%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700;}
.hover2 {background-color: transparent; border: white; border: groove;  border-radius: 1%; width: 10%;  font-size: 4.5px;  text-align: center;  position: absolute; margin-top: 5%; margin-left: 15%; font-family: 'Source Sans Pro', sans-serif; font-weight: 700;}
.hoverfh {background-color: transparent; border: white; border: groove; border-radius: 1%;min-width: 10%; font-size: 5px; text-align: center; position: absolute; margin-top: 2.5%; margin-left: 15%;font-family: 'Source Sans Pro', sans-serif;font-weight: 700}

}

/*VISUALIZZAZIONE 301px*/
@media (max-width: 301px) {

.fheavybg {margin-top: -279%;}
#ss {background-color: black; margin-top: -244%;}

}