body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-image: url(./image/starboy_wlp.png);
    background-size: 20%;
}

@font-face {
    font-family: title;
    src: url(./font/title.ttf);
}

@font-face {
    font-family: menu;
    src: url(./font/menu.ttf);
}

@font-face {
    font-family: afterhours;
    src: url(./font/afterhours.ttf);
}

#first_container {
    background-color: rgb(225,4,48);
    display: flex;
    justify-content: space-between;
    height: min-content;
    align-items:center ;
    width: 100vw;
}

a {text-decoration: none;}

#logo {
    width: 100px;
    height: 50px;
}

#title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vw;
    letter-spacing: 10px;
    color: rgb(26, 25, 25);
}

#lista {
    display: flex;
    flex-direction: column;justify-self: flex-start;
    align-items: flex-start;
    align-content: center;
    row-gap: 2px;
    margin :0px;
    padding: 0 0 0 0;
}

#span {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.menu_png {
    display: none;
}

.lista_mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0vw;
    background-color: rgb(225,4,48,);
    padding: 0;
    }

li {
    list-style-type: none;
    font-family: menu;
    font-size: 1.5vw;
}

#lista a {
    text-decoration: none;
    color: Black;
}

#front_banner {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#front_banner img {
    content: url(./image/banner_tour.jpg);
    margin-top: 50px;
    width: 90vw;
}


#world_tour_title {
    position: absolute;
    color: rgb(63, 63, 63);
    font-weight: 1000;
    z-index: 10;
    align-self: center;
    font-size: 3.5vw;
    text-align: end;
    text-shadow: 0 0 5px white, 0 0 5px white;
}

#find_more {
    border: white 1px groove;
    border-radius: 2px;
    padding: 0.5vw;
    font-size: 1vw;
}

#find_more:hover {
    background-color: rgb(247, 172, 172);
    color: black;
    transition: 0.5s;
}

#find_more_link {
    z-index: 10;
    color: white;
    position: absolute;
    align-self: flex-end;
    margin-bottom: 30px;
    text-decoration: none;
    word-spacing: 5px;
}

#container_album {
    display: flex;
    margin-top: 33vh;
    justify-content: center;
    background: rgb(0, 0, 0);
    background-repeat: no-repeat;
    width: 100vw;
}

#album_image {
    width: 40vw;
    border: 1px;
    border-radius: 10px;
    content: url(./image/album_image.jpg);
}

#new_album_title {
    align-self: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;
    color: rgb(90, 90, 90);
}

#social {
    background-color: black;
    margin-top: -10px;
    padding-top: 9vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 10px;
}

#insta {width: 2vw;}
#spotify {width: 2vw;}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: red; }
::-webkit-scrollbar-thumb {background: rgb(145, 2, 2);}

@media (max-width:680px) {

    #container_album {
        margin-top: 15vh;
    }


    #first_container {
        height: 10vh;
    }
}


@media (max-width:490px) {
    
    #title {
        font-size: 9vw;
        letter-spacing: 0;
    }


    #logo {
        width: 50px;
        height: 25px;
    }
    
    #span {
        display: flex;
    }

    #lista {
        display: none;
    }

    .lista_mobile.active {
        display: flex;
        font-family: menu;
        padding: 1vw;
        background-color: rgb(225, 4, 48);
    }

    ul a{text-decoration: none; color: black;}
    li {font-size: 5.5vw;}
    .menu_png {
        display: flex;
        width: 5vw;
    }

    #title {font-weight:900;}
    
    #front_banner img {
        content: url(./image/banner_tour_mobile.jpg);
        margin-top: 50px;
        width: 100vw;
        overflow-y: hidden;
    }

    #world_tour_title {font-size: 6vw;}
    #find_more {font-size: 4vw;}

    #container_album {width: 100vw;}
    
    #album_image {
        content: url(./image/album_image_mobile.jpg);
        width: 80vw;
    }

    #new_album_title {
        position: absolute;
        display: none;
    }

    #insta {width: 5vw;}
    #spotify {width: 5vw;}
}

/*{border: 1px red ridge;}