@font-face {
    font-family: montserat;
    src: url(./montserat.ttf);
}


body {
    padding: 0;
    margin: 0;
    overflow-x: none;
    background-color: #f2f2f2a1;
    cursor: pointer;
}
.pack_choose {display: grid; width: 98vw;}

#title{text-align: center; margin: 0; color: black; font-family: montserat;}
#title_confirm{text-align: center; display: none; margin: 1vh; color: black; font-family: montserat;}
#confirm{justify-self: center; display: none; font-family: montserat;}
#accept {justify-self: center; display: none; font-family: montserat; margin-top: 7px;}
.packs {
    margin-top: 5vh;
    background-color: #f2f2f2a1;
}

.regione {
    border-radius: 2px;
    width: 16vw;
}
.regione_2 {
    display: none;
    border-radius: 2px;
    padding: 4px
}
.regione h2 {font-size:medium; margin: 0px; padding: 0; font-family: montserat;}
.regione_2 h2 {font-size: 22px; margin: 0px; padding: 0; font-family: montserat;}

.regione:hover {cursor: pointer;}
#regioni {
    display: grid;
    grid-template-columns: 50vw 50vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    row-gap: 5vh;
    width: 98vw;
}

#Abruzzo { display: none;}
#Basilicata { display: none; }
#Calabria { display: none; }
#Campania { display: none; }
#Emilia_Romagna { display: none; }
#Friuli_Venezia_Giulia { display: none; }
#Lazio { display: none; }
#Liguria { display: none; }
#Lombardia { display: none; }
#Marche { display: none; }
#Molise { display: none; }
#Piemonte { display: none; }
#Puglia { display: none; }
#Sardegna { display: none; }
#Sicilia { display: none; }
#Toscana { display: none; }
#Trentino_Alto_Adige { display: none; }
#Umbria { display: none; }
#Valle_Aosta { display: none; }
#Veneto { display: none; }



.remainingPrizes {
    display: grid;
    color: white;
    margin-top: 2vh;
    grid-template-columns: 49vw 49vw;
}

#red {
    justify-self: flex-start;
}

#blue {
    justify-self: flex-end;
}

#red p {
    background-color: red;
    font-size: 20px;
    border-radius: 2px;
    padding: 2px;
    margin: 10px;
}
   

#blue p {
    background-color: rgb(0, 129, 249);
    font-size: 20px;
    border-radius: 2px;
    padding: 2px;
    margin: 10px;
}

/* {border: 1px red solid;}